<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cfi.bhraman">

    <!--
         The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but you must specify either coarse or fine
         location permissions for the 'MyLocation' functionality.
    -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>
        <activity android:name=".MyProfileActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".LoginActivity">
        </activity>
        <activity android:name=".SignUpActivity"></activity>


        <activity
            android:name=".MonuActivity"
            android:label="@string/title_activity_monu">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.cfi.bhraman.MainActivity" />
        </activity>


        <activity android:name=".GroupsMainActivity"></activity>
        <activity android:name=".PlaceDetailActivity"
            android:theme="@style/AppTheme.NoActionBar"></activity>

    </application>

</manifest>
